* {
    margin: 0;
}

header {
    background-color: rgba(55, 179, 221, 0.836);
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 50%;
}

#logo{
    height: 140px;
    width: 200px;
}

.grey{
    color: rgb(133, 126, 126)
}

#autor-color{
    color: rgba(55, 179, 221,0.836);
    font-weight: 570;
}

.small{
    font-size: 11px ;
}

.highlighted{
    background-color: yellow;
}