* {
    margin: 0;
}

header {
    background-color: rgba(55, 179, 221, 0.836);
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 50%;
}

#logo{
    height: 140px;
    width: 200px;
}