* {
    margin: 0;
}

header {
    background-color: rgba(55, 179, 221, 0.836);
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 45%;
}

#logo {
    height: 140px;
    width: 200px;
}

.grey {
    color: rgb(133, 126, 126)
}

.custom-lightblue {
    color: rgba(55, 179, 221, 0.836);
    font-weight: 570;
}

.small {
    font-size: 11px;
}

.highlighted {
    background-color: yellow;
}

.first-two-column {
    width: 25%;
}

.last-column {
    width: 50%;
}

#table-head {
    background-color: rgba(55, 179, 221, 0.836);
    color: white;
    font-weight: 600;
}

.background-lighterblue {
    background-color: rgba(149, 216, 238, 0.836);
}

table {
    border-collapse: collapse;
}

.img-header {
    font-weight: 700;
}

#img-monitor {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    width: 250px;
}

.text-images {
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#img-graph {
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 250px;
}